<head>
    <title>YouTube-util</title>
    <style>
        html * {
            font-size: 16px;
            line-height: 1.625;
            color: #efefef;
            background-color: #363636;
            font-family: Open Sans, sans-serif;
        }
    </style>
</head>

<body>
    <h1>YouTube Mini Downloader</h1>
    <i>Work in progress!</i>
    <br />

    <form method="post">
        <label for="video_url">Video URL:</label>
        <input type="url" id="video_url" name="video_url"/>
        <br />
        <label for="result_select">Select output:</label>
        <select name="result_select" id="result_select">
            <option value="">[Select an option]</option>
            <option value="video_small">Video - small, Discord-optimized</option>
            <option value="gif_small">Gif - small, Discord-optimized</option>
        </select>
        <br /><br />
        <input type="submit" value="Download"></input>
    </form>
</body>